.error {
    border-color: red;
}
table {
    width: 50%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
.prime {
    background-color: pink;
}
.even {
    background-color: green;
}